<table>
    <tr>
      <th>Product ID</th>
      <th>Product Type</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Available Quantity</th>
    </tr>
    <% products.forEach(function(product) { %>
    <tr>
      <td><%= product.product_id %></td>
      <td><%= product.product_type %></td>
      <td><%= product.product_name %></td>
      <td><%= product.product_price %></td>
      <td><%= product.available_quantity %></td>
    </tr>
    <% }); %>
  </table>
  